@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


li, a{
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    color: #272727;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 80px;
}

.logo{
    cursor: pointer;
    width: 15%;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 17px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}


/* From uiverse.io */
.button {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #bebebe;
    border-radius: 40px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    color: #000000;
    z-index: 1;
    cursor: pointer;
}
   
.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #0088a9;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:hover {
    color: #ffffff;
    border: 1px solid #0088a9;
}
   
.button:hover:before {
    top: -35%;
    background-color: #0088a9;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button:hover:after {
    top: -45%;
    background-color: #0088a9;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.izquierda{
    background-color: #fcd21d;
    height: 100vh;
    width: 50%;
}

/* Sección pantalla dividida*/
.derecha{
    background-image: url(../imagenes/imagen-derecha.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}

#pantalla-dividida{
    display: flex;
}

.turisteando{
    color: #ffffff;
}

h1{
    font-size: 60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 150px;
    margin-top: 110px;
}

.izquierda p{
    font-size: 19px;
    line-height: 40px;
    width: 50%;
    margin-left: 150px;

}

.izquierda a{
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
    margin-left: 150px;
}

/* Seccion cards ciudades*/
#seccion-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 49vh;
    background-color: rgb(255, 255, 255);
}

.cards{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.cards .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cards .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.cards .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;  
}

.cards .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.cards .back p{
    letter-spacing: 1px;
}

.cards:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

#sec-ciudades{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    color: #1f1f1f;
}

/* Seccion informacion*/

.contenedor{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    color: rgb(19, 19, 19); 
}

.contenedor p{
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 2px;
    text-align: center;
    line-height: 250%;
    width: 50%;
    font-size: 19px;
}

/*Seccion equipo*/

#sec-equipo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    color: #1f1f1f;
}

#equipo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background: #ffffff;
}

.card{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
    font-size: 13px;
}

.content h2{
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

.card:hover .content{
    opacity: 1;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #414141;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #333536;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(21, 108, 207);
}
.pie-pagina .grupo-2{
    background-color: #3d3d3d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}