.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav.navbar {
  background-color: #fdba00;
}


.card{
  border-radius: 4px;
  background: #fff;
  width: 13rem;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#contenedorcard{
  justify-content: center;
}

#contenedor2{
  text-align: left;
}


#barra2{
  margin: 0px 10px 0px 0;

}
#centrado{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

}


/* Sección pantalla dividida*/
.izquierda{
  background-color: #fcd21d;
  height: 100vh;
  width: 50%;
}

.derecha{
  background-image: url(../imagenes/imagen-derecha.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
}

#pantalla-dividida{
  display: flex;
}

.turisteando{
  color: #ffffff;
  
}

 .izquierda h1{
  color: #fff;
  font-size: 90px;
  width: 91%;
  margin: 85px 5px 0px 0px;
}
.izquierda h2{
  align-items:initial;
  font-size: 50px;
  width: 85%;
  margin: 0px 0px 50px;
  
}

.izquierda p{
  font-size: 19px;
  line-height: 40px;
  width: 69%;
  margin-left: 80px;
  text-align: justify;

}

.izquierda a{
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
  margin-left: 150px;
}
.izquierda a{
  margin: 30px 393px 0px 0px;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-weight: bold;
  display: inline-block;
  
}

/* Seccion cards ciudades*/
#seccion-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 49vh;
  background-color: rgb(255, 255, 255);
}

.cards{
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
}

.cards .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}

.cards .front{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}



.cards .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  text-align: center;
}

.cards .back{
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;  
}

.cards .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.cards .back p{
  letter-spacing: 1px;
}

.cards:hover .front{
  transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back{
  transform: perspective(600px) rotateY(360deg);
}

#sec-ciudades{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  color: #1f1f1f;
}

/* Seccion informacion*/

.contenedor{
  background-color: rgba(3, 35, 54, 0.021);
  margin-top: 10px;
  display: flex;
  padding: 10px;
  color: rgb(19, 19, 19); 
}

.contenedor p{
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 2px;
  text-align: center;
  line-height: 250%;
  width: 50%;
  font-size: 25px;
}



.card img{
  height: 250px;
  width: 100%;
}
.row .card{
  color: #ffffff;
  background-color:rgb(3, 35, 54);
}


/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #414141;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box1 h2{
  color: #fff;
  text-align: justify;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  text-align: justify;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  text-align: justify;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #333536;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(21, 108, 207);
}
.pie-pagina .grupo-2{
  background-color: #3d3d3d;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

.Fondo{
  width: 100%;
  height: 580px;
  background-color: #ffffff;
}
.box1 h2{
margin: 0 72px;
}

/*** ESTILOS BOTÓN GROW ELLIPSE ***/
.ov-btn-grow-ellipse {
  margin: 250px;
  background: rgb(255, 174, 0); /* color de fondo */
  color: #000000; /* color de fuente */
  border: 2px solid #000000; /* tamaño y color de borde */
  padding: 16px 100px;
  border-radius: 40px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-ellipse:hover {
  color: #fff;/* color de fuente hover */
}
.ov-btn-grow-ellipse::after {
  content: "";
  background: #ffc400; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}
.ov-btn-grow-ellipse:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}
